body{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.navbar, .container-fluid {
    padding: 0 !important;
    margin: 0 !important;
}


.menu a:hover {
    background-color: rgba(71, 95, 202, 0.818) !important;
}
.menu{
    background-color: rgba(19, 19, 93, 0.948);
}
.navbar-brand {
    margin: 0 !important;
    padding-left: 8px;
    padding-right: 8px;
}
.cajita{
    display: flex;
    background-color: white;
    opacity: .7;
}
.titulo{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.52em;
}

.cuerpo{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}

.navbar-nav .nav-link{
    color: #fff;
  }
  .dropend .dropdown-toggle{
    color: rgb(87, 130, 199);
    margin-left: 1em;
  }
  .dropdown-item:hover{
    background-color: rgb(51, 27, 161);
    color: #fff;
  }
  .dropdown .dropdown-menu{
    display: none;
  }
  .dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu{
    display: block;
    margin-top: .125em;
    margin-left: .125em;
  }
  @media screen and (min-width:769px) {
    .dropend:hover > .dropdown-menu{
      position: absolute;
      top: 0;
      left: 100%;
    }
    .dropend .dropdown-toggle{
      margin-left: .5em;
    }
  }

  .logotip{
    border-radius: 60%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .iniciar{
    width: 7%;
    padding: auto;
  }

  .fondoso{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(22,22,214,0.8324579831932774) 35%, rgba(0,212,255,1) 100%);
  }

  .footer{
    background-color: aquamarine;
  }
  .fondoso{
    background-color: antiquewhite;
  }